CREATE DATABASE [StoreManagement];
GO

USE [StoreManagement];
GO

-- 1. Create Tables
CREATE TABLE [dbo].[Customer](
    [CustomerId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [CustomerName] [varchar](100) NOT NULL,
    [Email] [varchar](150) NOT NULL,
    [Phone] [varchar](20) NULL
);
GO

CREATE TABLE [dbo].[Products](
    [ProductId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [ProductName] [varchar](100) NOT NULL,
    [Price] [decimal](10, 2) NOT NULL,
    [Quantity] [int] NOT NULL,
    [Category] [varchar](100) NULL
);
GO

CREATE TABLE [dbo].[Orders](
    [OrderId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [CustomerId] [int] NOT NULL,
    [OrderDate] [datetime2](7) NOT NULL DEFAULT (getdate())
);
GO

CREATE TABLE [dbo].[OrderDetails](
    [OrderDetailId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [OrderId] [int] NOT NULL,
    [ProductId] [int] NOT NULL,
    [Quantity] [int] NOT NULL,
    [Price] [decimal](10, 2) NOT NULL
);
GO

-- 2. Insert Sample Data
SET IDENTITY_INSERT [dbo].[Customer] ON;
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [Email], [Phone]) VALUES 
    (1, N'Monisha', N'monisha@gmail.com', N'9035424708'),
    (3, N'anusha', N'anusha@gmail.com', N'8765432123'),
    (4, N'navya sree', N'navya@gmail.com', N'7876543456'),
    (7, N'max', N'max23@gmail.com', N'7865434567'),
    (11, N'max', N'max@gmail.com', N'7898765678'),
    (13, N'hana', N'hana@gmail.com', N'9876546766');
SET IDENTITY_INSERT [dbo].[Customer] OFF;
GO

SET IDENTITY_INSERT [dbo].[Products] ON;
INSERT [dbo].[Products] ([ProductId], [ProductName], [Price], [Quantity], [Category]) VALUES 
    (1, N'Wireless keyboard', 1299.00, 25, N'Electronics'),
    (2, N'USB-C Cable', 499.00, 60, N'Accessories'),
    (5, N'phone', 32999.00, 55, N'Electronics'),
    (6, N'colouring kit', 199.50, 4, N'art'),
    (7, N'earpods', 1499.00, 34, N'Electronics');
SET IDENTITY_INSERT [dbo].[Products] OFF;
GO

SET IDENTITY_INSERT [dbo].[Orders] ON;
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate]) VALUES 
    (2, 1, CAST(N'2025-09-25T08:28:29.2480000' AS DateTime2)),
    (4, 3, CAST(N'2026-09-26T14:45:07.8710000' AS DateTime2)),
    (5, 13, CAST(N'2026-09-26T14:54:14.6940000' AS DateTime2));
SET IDENTITY_INSERT [dbo].[Orders] OFF;
GO

SET IDENTITY_INSERT [dbo].[OrderDetails] ON;
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [Price]) VALUES 
    (1, 2, 1, 5, 2499.50),
    (3, 4, 5, 1, 32999.00),
    (4, 5, 7, 1, 1499.00);
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF;
GO

-- 3. Add Foreign Key Constraints
ALTER TABLE [dbo].[Orders] WITH CHECK ADD CONSTRAINT [FK_Orders_Customer] 
    FOREIGN KEY([CustomerId]) REFERENCES [dbo].[Customer] ([CustomerId]);
GO

ALTER TABLE [dbo].[OrderDetails] WITH CHECK ADD CONSTRAINT [FK_OrderDetails_Orders] 
    FOREIGN KEY([OrderId]) REFERENCES [dbo].[Orders] ([OrderId]);
GO

ALTER TABLE [dbo].[OrderDetails] WITH CHECK ADD CONSTRAINT [FK_OrderDetails_Products] 
    FOREIGN KEY([ProductId]) REFERENCES [dbo].[Products] ([ProductId]);
GO
